@import "./scss/mixins";
@import "./scss/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  @include dflex-flex-row;

  .left-side {
    @include dflex-flex-column;
    width: 55%;
    img {
      width: 90%;
    }

    .text-center {
      text-align: center;

      p {
        color: $text-color;
        margin: 0px 10%
      }
    }
  }

  .right-side {
    @include dflex-flex-column;
    width: 45%;
    align-items: flex-start;

    .create-account{
        margin-bottom: 20px;
    }

    .form-input {
      @include dflex-flex-column;
      align-items: flex-start;
      margin-bottom: 20px;
      width: 50%;

      label {
        color: $text-color;
        margin-bottom: 5px;
      }
      input{
        padding: 10px;
        margin-bottom: 20px;
        height: 30px;
        border: none;
        width: 100%;

        &:focus {
          border: #60b8e1;
        }
        &:active {
          border: #60b8e1;
        }
        &::after {
          border: #60b8e1;
        }
      }
    }

    .terms{
      @include dflex-flex-row;
      margin-bottom: 20px;
      input {
        margin-right: 10px;
      }
    }

    .button{
      button{
        padding: 10px 40px;
        border: none;
        background-color: #60b8e1;
        color: white;
        font-weight: 600;
        letter-spacing: 0.1rem;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
